/* media query para breakpoint md */
@media only screen and (max-width: 768px){
  .grid-container{
    grid-template-columns: repeat(1, 1fr);
  }
  footer{
    grid-template-columns: repeat(1, 1fr);
    height: 200px;
    a{
      display: none;
    }
  }
}
