// Colors
$Black: #000;
$White: #fff;
$Sable: #060606;
$Charcoal: #2E1503;
$Tangerine: #FFAF6D;
$Orange: #FFA500;

// Fonts
$PoppinsFont: 'Poppins', sans-serif;
$UbuntuFont: 'Ubuntu', sans-serif;

// Font size
$XXXX-Large: 45px;
$XXX-Large: 40px;
$XX-Large: 35px;
$X-Large: 30px;
$Large: 20px;
$Medium: 16px;
$Small: 14px;
$X-Small: 12px;

// Other
$BlackBorder: 1px solid #000;
$DottedBorder: 1px dotted #060606;